[submodule "extern/cxxopts"]
	path = extern/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "extern/tabulate"]
	path = extern/tabulate
	url = https://github.com/p-ranav/tabulate
[submodule "extern/libtins"]
	path = extern/libtins
	url = https://github.com/mfontanini/libtins
